div.previewCV {
  height: 97vh;
  aspect-ratio: 0.7071;
  background-color: white;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

div.leftCV {
  color: white;
  background-color: rgb(42, 42, 42);
  padding: 8px;
  min-width: 148px;
  max-width: 175px;
  display: flex;
  flex-direction: column;
}

div.upperLeftCV {
  align-self: center;
}

div.leftCV h3 {
  text-align: center;
  color: rgb(84, 187, 187);
  margin: 32px 0px 0px 0px;
}

div.leftCV ul {
  font-size: small;
  padding: 0px 8px;
  list-style-type: none;
}

div.skillsCV ul {
  margin-left: 16px;
  list-style-type: circle;
}

div.leftCV li {
  padding: 4px 0;
  text-align: left;
}

div.leftCV li span {
  font-weight: bold;
  color: rgb(84, 187, 187);
}

.skillsCV {
  text-align: center;
}

div.rightCV {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

div.upperRightCV {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(42, 42, 42);
}

div.bottonRightCV {
  width: 100%;
}

.workExperienceCV,
.educationCV {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.workExperienceCV {
  border-bottom: 0.5px solid rgb(42, 42, 42);
  border-radius: 0%;
}

div.previewCV h1 {
  text-align: center;
}

.workExperienceCV,
.educationCV {
  padding: 16px;
}

.bottonRightCV p,
.bottonRightCV h4 {
  margin: 0px;
}

.smallText {
  font-size: small;
}

.smallerText {
  font-size: smaller;
}

div.bottonRightCV h3 {
  margin: 10px 0;
}

div.contactCV h3 {
  margin-top: 16px;
}
