div.workExperienceForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
}

div.workExperienceForm input,
div.workExperienceForm textarea {
  margin: 0 8px;
}

div.centerButtons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}
